<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Galeria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="vendor.min.css">
    <link rel="stylesheet" href="app.min.css">
    <script src="vendor.min.js"></script>
    <script src="app.min.js"></script>


</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="app">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <a href="index.html"><img class="title1" src="imagens/logo.png" style="width:200px; height:45px; margin-left:10px; margin-bottom:5px;"></a>
                <div class="menu" style="margin-left:215px">
                    <nav class="mdl-navigation mdl-layout--large-screen-only">

                        <div class="elemento_menu"><a href="FaleConosco.html" class="mdl-navigation__link">Fale Conosco</a></div>
                        <div class="elemento_menu"><a href="galeria.html" class="mdl-navigation__link"> Galeria</a></div>
                        <div class="elemento_menu"><a href="#" class="mdl-navigation__link" onclick="document.getElementById('id01').style.display='block'">Entrar</a></div>

                        <div id="id01" class="obfuscator">
                            <login-modal class="animate-zoom"></login-modal>
                        </div>

                        <div class="elemento_menu"><a href="#" class="mdl-navigation__link" onclick="document.getElementById('id02').style.display='block'">Cadastrar</a></div>
                        <div id="id02" class="obfuscator">
                            <cadastrar-modal class="animate-zoom"></cadastrar-modal>
                        </div>

                    </nav>
                </div>
            </div>
        </header>

        <div class="mdl-layout__drawer mdl-layout--small-screen-only ">
            <nav class="mdl-navigation ">
                <a class="mdl-navigation__link " href="FaleConosco.html">Fale Conosco</a>
                <a class="mdl-navigation__link " href="galeria.html">Galeria</a>
                <a href="login-mobile.html" class="mdl-navigation__link ">Entrar</a>
                <a href="cadastrar-mobile.html" class="mdl-navigation__link ">Cadastrar</a>
            </nav>
        </div>

        <div class="mdl-layout__content">

            <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
                <main class="main">

                        <div class="jumbotron" style="width:35px; margin-left:200px;"> 
                            <h1>Galeria</h1>
                        </div>

                        <div id="seachbar" class="card-view mdl-card mdl-shadow--6dp" style="width:500px; margin-left:970px"> 
                            <div class="mdl-card__title">
                                <div class="mdl-textfield mdl-js-textfield" id="search-input" >
                                    <input class="mdl-textfield__input" type="text" id="search" v-model="searchText" >
                                    <label class="mdl-textfield__label" for="search">Pesquisar</label>
                                </div>

                                <button @click="filter()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-left:10px">
                                    Pesquisar Obra
                                </button>
                            </div>
                        </div>
                        
                    <div class="container">




                        

                        <div class="row" id="linha" style="margin-top:20px">
                            <div class="col-sm-3" v-for="obra in obras" style="margin-left:35px; margin-right:10px">
                                <button v-on:click="visualizarObra(obra)" class="mdl-button mdl-js-button " style="margin-left:10px; margin-right:10px;width:270px; height:300px">
                                    <img :src="obra.linkFoto" alt="" style="width:270px; height:300px;" align="center">
                                </button>
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">{{obra.nome}}</h2>
                                </div>
                            </div>

                        </div>
                    </div>

                </main>

            </div>

        </div>
        <footer class="mdl-mini-footer">
            <div class="text-footer ">Avenida Transnordestina, s/n - Novo Horizonte CEP 44036-900 - Feira de Santana - Bahia - (75)3161-8000</div>
        </footer>
    </div>

    


    <script>
        var URL_API = 'http://mocs.000webhostapp.com/api/public/';
        var app = new Vue({
            el: '#app',

            data: {
                obras: [],
                obrasAux: [],
                searchText: ''
            },
            methods: {
                filter: function(){
                    this.obras = this.obrasAux.filter(item=>{
                        return item.nome.toUpperCase().indexOf(this.searchText.toUpperCase()) > -1
                    });
                    console.log(this.searchtext);
                },
                visualizarObra: function(obra){
                    location.href="visualizarObra.html?obra=" + obra.ID_Obra; 
                    console.log(this.obra.ID_Obra);

                }
            },
            created: function () {
                // `this` points to the vm instance
                $.get("http://mocs.000webhostapp.com/api/public/obra", function (data) {
                    app.obras = data;
                    console.log(app.obras);
                    app.obras.map(res => {
                        console.log(res.foto);
                        if (res.foto && res.foto[0]) {
                            res.linkFoto = res.foto[0].linkFoto;
                        }
                    });
                    app.obrasAux = app.obras;
                });
            }

        });
    </script>

    <script>
        var modal = document.getElementById('id01');
        var cadmodal = document.getElementById('id02');

        //fecha quando o user clica fora
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none ";
            } else if (event.target == cadmodal) {
                cadmodal.style.display = "none";
            }
        }
    </script>



</body>

</html>