#avaliar-view{
    width: 100%;
    max-width: 700px;
    margin: 16px auto;
    display: block;
}

#avaliar-view .mdl-card__supporting-text{
    width: 100%;
}

#avaliar-view .mdl-textfield{
    width: 100%;
    display: block;
}
