.active, .dot:hover {
    background: none !important;
}

a, a:hover{
    text-decoration: none !important;
}

.card-view {
    min-height: auto;
    width: 100%;
    max-width: 900px;
}

#dashboard .mdl-layout__drawer-button {
    color: #616161;
}
#dashboard .mdl-navigation .mdl-navigation__link {
    padding: 16px 20px;
}
#dashboard .mdl-navigation .mdl-navigation__link i {
    margin-right: 0.5em;
}
#dashboard .usuario-perfil {
    padding: 16px;
}
#dashboard .usuario-foto {
    width: 75px;
    height: 75px;
    margin: 0 auto 16px auto;
    background: white;
    border-radius: 50%;
}
#dashboard .usuario-foto i {
    font-size: 75px;
}
#dashboard .usuario-nome {
    font-size: 1em;
    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
}
#dashboard .logout-button {
    width: 100%;
}

/*-------- Animações --------*/
.zoomIn {
    animation: zoomIn 0.1s 0s 1 linear alternate;
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
