#perfil-view{
    max-width: 500px;
    margin: 16px auto;
    display: block;
}

#perfil-view .mdl-textfield{
    width: 100%;
    display: block;
}

#perfil-view .mdl-card__supporting-text{
    width: auto;
    display: block;
}